@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-timeline: 10s;
}
body {
  min-height: 100vh;
  overflow: hidden;
  background-color: #e7e7e7;
  font-family: "Roboto", sans-serif;
  color: #28324d;
}

#logo {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 40px;
  width: 40px;
}

li img {
  z-index: 10;
}

.navigation {
  height: 100vh;
  background: #aeafb5;
  max-width: 20%;
  width: 70px;
  padding: 10px;
  float: left;
  overflow: hidden;
  position: fixed;
  padding-right: 0px;

  z-index: 10;
  transition: 0.5s;
}

.navigation.active {
  width: 250px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  height: 95vh;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 8.33%;
}

.navigation ul li.active {
  background: #e7e7e7;
}

.navigation ul li b:nth-child(1) {
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background: #e7e7e7;
  display: none;
}

.navigation ul li b:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: #aeafb5;
}

.navigation ul li b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  background: #e7e7e7;
  display: none;
}

.navigation ul li b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: #aeafb5;
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
  display: block;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #28324d;

  font-size: 15px;

  z-index: 10;
  transition: 1s;
}

.navigation ul li.active a {
  color: #5562aa;
  transition: 1s;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 45px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon i {
  font-size: 1.5em;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 50px;
  line-height: 55px;
  white-space: normal;
}

/*-----------------------------------------------------------------------------------*/
/*Toggle config*/

.toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: #aeafb5;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.toggle i {
  position: absolute;
  color: #5562aa;
  font-size: 25px;
  display: none;
  transition: 0.5s;
  z-index: 10;
}

.toggle i.open,
.toggle.active i.close {
  display: block;
  transition: 0.5s;
  z-index: 10;
}

.toggle i.close,
.toggle.active i.open {
  display: none;
  transition: 0.5s;
  z-index: 10;
}

.screen {
  display: flex;
}

.pg.active {
  width: 80%;
  transition: 0.5s;
}

/*-----------------------------------------------------------------------------------*/
/*Sections config*/
.info section {
  float: right;
  padding-top: 5px;
  padding-right: 5px;
  height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  align-content: flex-start;

  transition: 0.5s;
}

.theme {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 40px;
  font-weight: 600;
  width: 90%;
}
